.icon {
  height: 55px;
  margin-right: 20px;
}
.icon:hover {
  transform: scale(1.1);
}
/********************************************/
/****************** HEADER ******************/
/********************************************/

header {
  display: grid;
}

#header1 {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
#header1 img {
  width: 100%;
}

#header2 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  margin: 20px 100px 0;
}

#menu {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.menuM {
  display: none;
  position: fixed;
  left: 64.5%;
  top: 0.4%;
}

.menuItens {
  background-color: #70f4bd;
  margin: 14% auto;
  padding: 16%;
  border: 1px solid #888;
  border-radius: 7%;
  width: 107%;
  animation-name: animatetop;
  animation-duration: 0.2s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.homeMenu {
  font-size: 1px;
}

.homeSobre {
  font-size: 15px;
}
.homeSobreLi {
  margin-top: -20%;
  margin-bottom: 10%;
}

.homeFinalidade {
  font-size: 15px;
}
.homeFinalidadeLi {
  margin-bottom: 10%;
}
.homeObjetivos {
  font-size: 15px;
}
.homeObjetivosLi {
  margin-bottom: 10%;
}
.homeVoluntariado {
  font-size: 15px;
}
.homeVoluntariadoLi {
  margin-bottom: 10%;
}
.homeContato {
  font-size: 15px;
}
.homeContatoLi {
  margin-bottom: 13%;
}

.iconeFechar {
  float: left;
  font-size: 20px;
  margin-left: -39.5%;
}

#btnConMenu {
  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7px;
  padding-left: 7px;
  margin-left: -3%;
  margin-bottom: 4%;
  box-shadow: none;
}

.navegador {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.navegador li,
.navegador button {
  margin: 0;
}

.navegador a {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.navegador .icone {
  display: none;
  font-size: 20px;
}

#header3 {
  grid-row: 2;
  grid-column: 1 / 2;
  margin-left: 100px;
  margin-right: 50px;
}

#headerVideo {
  display: flex;
  align-items: center;
}

#headerVideo p {
  margin: 0;
}

/********************************************/
/****************** MAIN ******************/
/********************************************/

.h3-rosa,
.h3-laranja,
.h3-verde {
  font-family: "Bubblegum Sans", cursive;
  font-size: 3rem;
  margin-bottom: 28px;
}

.h3-rosa {
  color: #d6024e;
}

.h3-laranja {
  color: #f48c06;
}

.h3-verde {
  color: #5beb7b;
}

main {
  margin: 50px 100px;
  display: grid;
  row-gap: 50px;
}

#sobre1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#sobre1 p {
  margin: 0 15%;
  text-align: center;
}

#sobre2 {
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

#sobre2 img {
  grid-column: 1;
}

#sobre2 div {
  margin-top: 50px;
  grid-column: 2 / 4;
  text-align: justify;
}

#finalidade {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

#finalidade1 {
  grid-column: 1 / 2;
}

#finalidade1 {
  text-align: justify;
}

#finalidade2 {
  grid-column: 2 / 3;
  align-items: center;

  display: grid;
  grid-template-columns: 15px 100% 15px;
}

#finalidade2 img {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  width: 100%;
}

#finalidade2 div {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
  height: 0;
  padding-bottom: 54.25%;
}

#finalidade2 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#objetivos {
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#objetivos1 {
  grid-column: 1 / 2;
}

#objetivos1 img {
  width: 100%;
}

#objetivos2 ul li {
  display: flex;
  align-items: center;
}
#lerMais {
  display: none;
}

/********************************************/
/****************** FOOTER ******************/
/********************************************/

footer {
  display: grid;
}

#rodape1 {
  grid-row: 1 / 3;
  grid-column: 1;
}

#rodape1 img {
  width: 100%;
}

#rodape2 {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: flex;
}

#rodape2 form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
}

#rodape2 h4 {
  text-align: center;
  letter-spacing: 0.1em;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border-width: 1px;
  text-align: start;
}

#rodape3 {
  grid-row: 2 / 3;
  grid-column: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 5px;
}

#rodape3 a,
#rodape3 p {
  margin-bottom: 0;
  font-size: 1.1rem;
}

/****************************************************/
/****************** RESPONSIVIDAED ******************/
/****************************************************/

@media only screen and (max-width: 1920px) {
  .navegador {
    margin-top: 1%;
    margin-left: 30%;
  }
  #menu h1 {
    margin-top: 1%;
  }
  #sobreFoto {
    width: 310px;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 1600px) {
  .navegador {
    margin-top: 1%;
    margin-left: 18%;
  }
  #menu h1 {
    margin-top: 1%;
  }
  #sobreFoto {
    width: 260px;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 1280px) {
  .navegador {
    margin-top: 1%;
    margin-left: 18%;
    margin-right: -3%;
  }

  #menu h1 {
    margin-top: 1%;
    margin-left: -3%;
  }
  #sobreFoto {
    width: 220px;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 1024px) {
  .navegador {
    margin-top: 0.2%;
    margin-left: 13%;
    margin-right: -5%;
  }

  #menu h1 {
    margin-top: 0.2%;
    margin-left: -3%;
    font-size: 33px;
  }
  #sobreFoto {
    width: 250px;
    margin-left: 0%;
  }
}

@media only screen and (max-width: 800px) {
  .navegador {
    margin-top: 0.2%;
    margin-left: 3%;
    margin-right: -10%;
  }

  #menu h1 {
    margin-top: 0.2%;
    margin-left: -7%;
    font-size: 26px;
  }
  #sobreFoto {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  #sobreFoto {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 720px) {
  .navegador {
    margin-top: 0.2%;
    margin-left: 10%;
    margin-right: -15%;
  }

  #menu h1 {
    margin-top: 0.2%;
    margin-left: -14%;
  }
  #sobreFoto {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 414px) {
  #menu h1 {
    margin-top: -2%;
    margin-left: -35%;
    margin-bottom: 12%;
  }

  .navegador {
    margin-top: -16%;
    margin-left: 0%;
    margin-right: -25%;
  }
  .navegador a {
    font-size: 15px;
  }

  .navegador button {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 11px;
  }
  .navegador li:not(:first-child) {
    display: none;
  }

  .navegador .icone {
    float: right;
    display: block;
  }

  #header3 {
    margin-left: 10%;
  }
  #header3 h2 {
    font-size: 17px;
    margin-bottom: 5%;
    margin-top: -30%;
  }
  #header3 p {
    margin-bottom: 3%;
    font-size: 11px;
  }
  #header3 .icon {
    width: 20px;
    height: 20px;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-left: 5%;
  }
  #headerVideo {
    margin-top: 5%;
  }

  #sobre1 {
    margin-left: -73%;
    margin-right: -65%;
  }

  #sobre1 h3 {
    margin-bottom: 2%;
    font-size: 15px;
  }

  .h3-rosa {
    font-size: 15px;
  }

  .paragrafo18 {
    font-size: 12px;
    margin-left: -121%;
  }
  #sobreFoto {
    position: absolute;
    margin-top: 0;
  }

  #sobreEdna {
    padding-top: 280%;
    margin-left: -130%;
    margin-right: -53%;
    font-size: 18px;
  }

  #saibaMais {
    display: none;
  }

  .hideText {
    display: none;
  }

  #lerMais {
    display: block;
    margin-left: 40%;
    padding: 1% 6% 1% 6%;
  }
  #finalidade1 {
    margin-left: -61%;
    margin-right: -123%;
  }
  .finalidadeText {
    margin-top: 70%;
  }
  #reduzFont {
    font-size: 10px;
    margin-right: -80%;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  #finalidade1 p {
    margin-top: 0;
    font-size: 12px;
  }
  #finalidade1 h3 {
    margin-bottom: 10%;
  }
  #finalidade2 {
    position: absolute;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    grid-template-columns: 15px 80% 15px;
    margin-left: -17%;
    margin-top: 19%;
  }

  #objetivos1 {
    position: absolute;
    top: 183%;
    margin-left: -8%;
    width: 70%;
  }
  #objetivos2 {
    margin-top: 210%;
    margin-left: -20%;
  }

  #form-contato h4 {
    margin-top: 20%;
    font-size: 25px;
    margin-bottom: 3%;
  }

  #nome {
    height: 5px;
    margin-bottom: 10%;
  }
  #emailBotton {
    height: 5px;
    margin-bottom: 10%;
  }
  #mensagemInput {
    height: 25px;
    margin-bottom: 10%;
  }
  #form-contato button {
    padding: 5px 1px 5px 1px;
  }
  #rodape3 {
    margin-bottom: 0.5%;
  }
}

@media only screen and (max-width: 414px) {
  .hideText.aparece {
    display: block;
  }
}
