* {
  margin: 0;
  padding: 0;
  font-family: "Delius", cursive;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  font-family: "Bubblegum Sans", cursive;
  color: #2f327d;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 28px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 28px;
}

h4 {
  font-size: 4rem;
  margin-bottom: 28px;
  color: #ffffff;
}

.h3-rosa {
  color: #d6024e;
}

p,
li,
button,
input,
textarea {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

button {
  font-family: Poppins;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #a0023c;
  color: #ffffff;
}
