* {
  margin: 0;
  padding: 0;
  font-family: "Delius", cursive;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Bubblegum Sans", cursive;
  color: #2f327d;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 28px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 28px;
}

h4 {
  font-size: 4rem;
  margin-bottom: 28px;
  color: #ffffff;
}

.h3-rosa {
  color: #d6024e;
}

p,
li,
button,
input,
textarea {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

button {
  font-family: Poppins;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #a0023c;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #a0023c;
}

/****************************************************/
/****************** RESPONSIVIDADE ******************/
/****************************************************/

@media only screen and (max-width: 1920px) {
  * {
    font-size: 82.5%;
  }
}

@media only screen and (max-width: 1600px) {
  * {
    font-size: 72.5%;
  }
}

@media only screen and (max-width: 1440px) {
  * {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 1280px) {
  * {
    font-size: 52.5%;
  }
}

@media only screen and (max-width: 1024px) {
  * {
    font-size: 52.5%;
  }
}

@media only screen and (max-width: 720px) {
  * {
    font-size: 42.5%;
  }
}

@media only screen and (max-width: 414px) {
  * {
    font-size: 42.5%;
  }
  li {
    font-size: 2.5rem;
  }
}

/*****************************************************/
/***************** BOTÕES FLUTUANTES *****************/
/*****************************************************/

.fab {
  position: fixed;
  left: 25px;
  padding: 10px 7.5px;
  width: 30px;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  bottom: 150px;
  background-color: #3b5998;
}

.fa-instagram {
  bottom: 80px;
  background-color: #125688;
}

.fas {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 25px;
  padding: 10px 7.5px;
  width: 30px;
  z-index: 99;
  background-color: #ffffff;
  color: black;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

#fas:hover {
  background-color: black;
  color: #ffffff;
  opacity: 0.7;
}
