* {
  font-family: "Delius", cursive;
  font-size: 70%;
  background-color: #fff;
  margin: 0%;
}

h1,
h2,
h3 {
  font-family: "Bubblegum Sans", cursive;
  color: #2f327d;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0px;
}

#corte {
  max-width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 60px;
}

.navegador {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.li {
  margin-right: 56px;
  margin-top: 0px;
}

#btnUm {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-top: -15px;
}

#btnUm:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

#voluntario {
  display: flex;
  flex-direction: row;
  margin-top: 114px;
  margin-left: 30px;
  align-items: center;
}

#volu {
  font-size: 3.125rem;
  color: #2f327d;
  margin-right: 65px;
  text-align: center;
}

.formUm {
  display: flex;
  flex-direction: row;
}

.divider {
  display: flex;
  flex-direction: column;
}

form {
  width: 400px;
}

#name {
  background: #fff;
  border-radius: 40px;
  width: 600px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#namel {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#phone {
  background: #fff;
  border-radius: 40px;
  width: 300px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#phonel {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#email {
  background: #fff;
  border-radius: 40px;
  width: 600px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#emaill {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#CEP {
  background: #fff;
  border-radius: 40px;
  width: 300px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#CEPl {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#enderecoForm {
  background: #fff;
  border-radius: 40px;
  width: 600px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#enderecol {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#complemento {
  background: #fff;
  border-radius: 40px;
  width: 300px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#complementol {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#bairro {
  background: #fff;
  border-radius: 40px;
  width: 280px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#bairrol {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#cidade {
  background: #fff;
  border-radius: 40px;
  width: 280px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#cidadel {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

#estado {
  background: #fff;
  border-radius: 40px;
  width: 300px;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
  margin-left: 30px;
}

#estadol {
  font-size: 1.875rem;
  margin-left: 30px;
  margin-bottom: 5px;
}

.selection {
  margin-left: 30px;
}

.questions {
  margin-top: 30px;
  font-size: 2.375rem;
  margin-bottom: 30px;
}

.checkbox {
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-right: 10px;
}

.options {
  display: flex;
  font-size: 2rem;
  align-items: center;
  margin-bottom: 15px;
}

.meios {
  margin-top: 30px;
  font-size: 2.375rem;
  margin-bottom: 15px;
}
.meio {
  background: #fff;
  border-radius: 30px;
  width: 300px;
  height: 40px;
  text-align: start;
  margin-bottom: 15px;
  font-size: 1.563rem;
  border-width: 1px;
}

#btnDois {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-left: 30px;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 40px;
}

#btnDois:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

.container {
  position: relative;
  text-align: center;
}

#endereco {
  position: absolute;
  top: 20%;
  left: 16px;
  margin-left: 100px;
  background-color: transparent;
  text-align: start;
}

#separaEndereco {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#separaTexto {
  background-color: transparent;
  font-size: 1.563rem;
}

#separaFone {
  background-color: transparent;
  margin-top: 10px;
  font-size: 1.563rem;
}

#contribua {
  position: absolute;
  top: 20%;
  left: 430px;
  margin-left: 100px;
  background-color: transparent;
  text-align: start;
}

#tituloContribua {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#textContribua {
  background-color: transparent;
  font-size: 1.563rem;
}

#btnTres {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-left: 90px;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 40px;
}

btnTres:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

#form {
  position: absolute;
  top: 20%;
  right: 16px;
  margin-right: 50px;
  background-color: transparent;
}

#mensagem {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

::placeholder {
  color: #000;
}

#nome {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#emailBotton {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#textBotton {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  font-size: 1.563rem;
  border-width: 1px;
}

#btnQuatro {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 0px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  border-width: 1.2px;
  font-size: 1.5rem;
}

#btnQuatro:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

#copyright {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 0.938rem;
  margin-left: 50px;
  background-color: transparent;
}

#devs {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 0.938rem;
  margin-right: 50px;
  background-color: transparent;
  text-decoration: none;
}
