* {
  font-family: 'Delius', cursive;
  font-size: 70%;
  background-color: #20b6e4;
  margin: 0%;
}

h1,
h2,
h3 {
  font-family: 'Bubblegum Sans', cursive;
  color: #2f327d;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0px;
}

#corte {
  max-width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 60px;
}

.navegador {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.li {
  margin-right: 56px;
  margin-top: 0px;
}

#btnUm {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-top: -15px;
}

#btnUm:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.nuvens {
  height: 150px;
  width: 200px;
}

#nuvensUm {
  display: flex;
  justify-content: space-around;
}

#nuvemTres {
  margin-top: 0px;
  margin-left: 120px;
  margin-right: 60%;
}

#main {
  margin-top: 95px;
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 60px;
}

#boxDoacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
  justify-items: center;
}

.doacoes {
  font-size: 2.5rem;
}

.separacao {
  margin-bottom: 30px;
}

#mainDois {
  padding: 50px;
  font-size: 2.188rem;
  text-align: center;
  margin-bottom: 100px;
}

.container {
  position: relative;
  text-align: center;
}

#endereco {
  position: absolute;
  top: 20%;
  left: 16px;
  margin-left: 100px;
  background-color: transparent;
  text-align: start;
}

#separaEndereco {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#separaTexto {
  background-color: transparent;
  font-size: 1.563rem;
}

#separaFone {
  background-color: transparent;
  margin-top: 10px;
  font-size: 1.563rem;
}

#form {
  position: absolute;
  top: 20%;
  right: 16px;
  margin-right: 50px;
  background-color: transparent;
}

#mensagem {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

::placeholder {
  color: #000;
}

#name {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#email {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#text {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  font-size: 1.563rem;
  border-width: 1px;
}

#btnDois {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 0px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  border-width: 1.2px;
  font-size: 1.5rem;
}

#btnDois:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

#copyright {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 0.938rem;
  margin-left: 50px;
  background-color: transparent;
}

#devs {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 0.938rem;
  margin-right: 50px;
  background-color: transparent;
  text-decoration: none;
}
