* {
  font-family: 'Delius', cursive;
  font-size: 70%;
  background-color: #20b6e4;
  margin: 0%;
}

h1,
h2,
h3 {
  font-family: 'Bubblegum Sans', cursive;
  color: #2f327d;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0px;
}

#corte {
  max-width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 60px;
}

.navegador {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.li {
  margin-right: 56px;
  margin-top: 0px;
}

#btnUm {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-top: -15px;
}

#btnUm:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #6b535c;
  color: #ffffff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.nuvens {
  height: 150px;
  width: 200px;
}

#nuvensUm {
  display: flex;
  justify-content: space-around;
}

#nuvemTres {
  margin-top: 0px;
  margin-left: 120px;
  margin-right: 60%;
}

#main {
  margin-top: 95px;
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 60px;
}

#boxDoacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
  justify-items: center;
}

.doacoes {
  font-size: 2.5rem;
}

.separacao {
  margin-bottom: 30px;
}

#mainDois {
  padding: 50px;
  font-size: 2.188rem;
  text-align: center;
  margin-bottom: 100px;
}

.container {
  position: relative;
  text-align: center;
}

#endereco {
  position: absolute;
  top: 20%;
  left: 16px;
  margin-left: 100px;
  background-color: transparent;
  text-align: start;
}

#separaEndereco {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#separaTexto {
  background-color: transparent;
  font-size: 1.563rem;
}

#separaFone {
  background-color: transparent;
  margin-top: 10px;
  font-size: 1.563rem;
}

#volunt {
  position: absolute;
  top: 20%;
  left: 500px;
  margin-left: 100px;
  background-color: transparent;
  text-align: start;
}

#tituloVolunt {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#textVolunt {
  background-color: transparent;
  font-size: 1.563rem;
}

#btnTres {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-left: 90px;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 40px;
}

#form {
  position: absolute;
  top: 20%;
  right: 16px;
  margin-right: 50px;
  background-color: transparent;
}

#mensagem {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

::placeholder {
  color: #000;
}

#name {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#email {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#text {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  font-size: 1.563rem;
  border-width: 1px;
}

#btnDois {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 0px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  border-width: 1.2px;
  font-size: 1.5rem;
}

#btnDois:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

#copyright {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 0.938rem;
  margin-left: 50px;
  background-color: transparent;
}

#devs {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 0.938rem;
  margin-right: 50px;
  background-color: transparent;
  text-decoration: none;
}


/* Responsividade :D */


@media only screen and (max-width: 1920px) {

  #header h1 {
    margin-left: 3%;
  }
  
  .navegador {
    margin-right: 10%;
    font-size: 30px;
  }
  
  #nuvensUm {
    margin-right: 2%;
    margin-left: -8%
  }
  
  #nuvemTres.nuvens {
    margin-left: 4.2%;
    margin-right: 66%;
  }
  
  #volunt {
    margin-left: 15%
  }
  
  #form {
    margin-right: 6%;
  }
  
  ::placeholder {
    padding-left: 5%;
  }  
  }

  @media only screen and (max-width: 1600px) {
  
  .navegador {
    margin-right: 3%;
    font-size: 25px;
  }
  
  #nuvensUm {
    margin-right: 6%;
  }

  #nuvemTres.nuvens {
    margin-left: 4.2%;
    margin-right: 63%;
  }

  #main {
    margin-left: 5%;
    margin-right: 5%;
  }

  #volunt {
    margin-left: 8%
  }
  }

  @media only screen and (max-width: 1440px) {
    .navegador {
      font-size: 20px;
    }

    #nuvensUm {
      margin-left: 0%;
    }

    #nuvemTres.nuvens {

      margin-right: 60%;
    }
    #volunt {
      margin-left: 1%
    }

  }

  @media only screen and (max-width: 1280px) {
   
    #volunt {
     margin-left: -6%;
    }

  }


  @media only screen and (max-width: 1024px) {
   
    #header h1 {
      font-size: 27px;
    }

    .navegador {
      font-size: 18px;
      margin-right: -2%;
    }

    .li {
      margin-left: -4%;

    }

    #btnUm {
      margin-left: -3%;
    }
    
    .nuvens {
      width: 150px;
      height: 100px;
    }

    #nuvensUm {
      margin-left: -2%;
      margin-right: 10%;
    }

    #nuvemTres.nuvens {
      margin-right: 59%;
    }
    
    #main {
      font-size: 20px;
    }

    #boxDoacoes {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(175px, 2fr));
    }

    .doacoes {
      font-size: 25px;
    }

    #mainDois {
      font-size: 22px;
    }

    #endereco {
      margin-left: 3%;
    }

    #volunt {
      margin-left: -20%;

    }
    #form {
      margin-right: 2%;
    }

    #separaEndereco {
      font-size: 22px;
    }
    #separaTexto{
      font-size: 16px;
    }

    #separaFone {
      font-size: 16px;
    }

    #tituloVolunt {
      font-size: 22px;
    }

    #textVolunt {
      font-size: 16px;
    }

    #mensagem {
      font-size: 22px;
    }
    #name {
      font-size: 16px;
    }

    #email {
      font-size: 16px;
    }

    #text {
      font-size: 16px;
      height: 49px;
    }
    #qrCodigo {
      width: 100px;
    }

  }
  @media only screen and (max-width: 800px) {
    #header h1 {
      margin-left: 3%;
    }

    .navegador {
      margin-top: 15px;
      font-size: 16px;
      margin-left: 70%;
    }

    .li {
      margin-right: 15%;
    }
    #nuvensUm {
      margin-left: 10%;
    }
    .nuvens {
      width: 130px;
    }

    #main {
      font-size: 16px;
    }
    .doacoes {
      font-size: 20px;
    }
    #mainDois {
      font-size: 16px;
    }
   
    #endereco {
      margin-left: 3%;
    }

    #volunt {
      margin-left: -27%;

    }
    #form {
      margin-right: 5%;
    }

    #separaEndereco {
      font-size: 16px;
    }
    #separaTexto{
      font-size: 14px;
    }

    #separaFone {
      font-size: 14px;
    }

    #tituloVolunt {
      font-size: 16px;
      
    }

    #textVolunt {
      font-size: 14px;
      max-width: 200px;
    }

    #btnTres {
      font-size: 12px;
      margin-left: 10%;

    }

    #mensagem {
      font-size: 16px;
    }
    #name {
      font-size: 14px;
      height: 30px;
      margin-bottom: 15px;
    }

    #email {
      font-size: 14px;
      height: 30px;
      margin-bottom: 15px;
    }

    #text {
      font-size: 14px;
      height: 30px;
      margin-bottom: 10px;
    }

    #btnDois {
      font-size: 12px;
    }



    #copyright {
      font-size: 9px;
      margin-bottom: -0.5%
    }

    #devs {
      margin-bottom: -0.7%
    }

  }

  @media only screen and (max-width: 768px) {
    #header h1 {
      margin-left: 3%;
    }

    .navegador {
      margin-top: 15px;
      font-size: 16px;
      margin-left: 70%;
    }

    .li {
      margin-right: 15%;
    }

    .nuvens {
      width: 120px;
      height: 100px;
    }

    #nuvensUm {
      margin-left: 5%;
      margin-right: 17%;
    }

    #nuvemTres.nuvens {
      margin-right: 55%;
    } 

    #main {
      margin-top: 4%;
      font-size: 16px;
    }

    .doacoes {
      font-size: 20px;
    }
    #qrCodigo {
      width: 100px;
    }

    #mainDois {
      font-size: 16px;
      margin-bottom: 4%;
    }

    #endereco {
      margin-left: 3%;
    }

    #volunt {
      margin-left: -30%;

    }
    #form {
      margin-right: 7%;
    }

    #separaEndereco {
      font-size: 16px;
    }
    #separaTexto{
      font-size: 14px;
    }

    #separaFone {
      font-size: 14px;
    }

    #tituloVolunt {
      font-size: 16px;
      
    }

    #textVolunt {
      font-size: 14px;
      max-width: 200px;
    }

    #btnTres {
      font-size: 14px;
      margin-left: 10%;

    }

    #mensagem {
      font-size: 16px;
    }
    #name {
      font-size: 14px;
      height: 30px;
      margin-bottom: 15px;
    }

    #email {
      font-size: 14px;
      height: 30px;
      margin-bottom: 15px;
    }

    #text {
      font-size: 14px;
      height: 30px;
      margin-bottom: 10px;
    }

    #btnDois {
      font-size: 14px;
    }

    #qrCodigo {
      width: 100px;
    }

    #copyright {
      font-size: 9px;
      margin-bottom: -0.5%
    }

    #devs {
      margin-bottom: -0.5%
    }
    
    .container {
      top: 20px
    }

  }

  
  @media only screen and (max-width: 720px) {

    #nuvemTres.nuvens {
      margin-right: 50%;
      margin-left: 8%;
    } 

    #header {
      margin-right: 5%;
    }

    #nuvensUm {
      margin-left: 13%; 
    }

    #volunt {
      margin-left: -37%;
    }
    #form {
      margin-right: 3%;
    }

    #btnDois {
      font-size: 10px;
    }

    #btnTres {
      font-size: 10px;
    }

    #text {
      margin-bottom: 3%;
    }
  }

  @media only screen and (max-width: 600px) {

    
    #header {
      margin: 0 0 0 0
    }
    #header h1 {
      font-size: 20px;
      margin-right: 0%
    }
    
    .navegador {
      margin-right: 4%;
    }
    .nuvens {
      width: 100px;
      height: 100px;
    }
    #main {
      font-size: 14px;
    }

    .doacoes {
      font-size: 17px;
    }

    #mainDois{
      font-size: 14px;
    }
    
    #volunt {
      margin-left: -50%;
    }
    
    #form {
      margin-right: 0%;
    }

    #btnDois {
      font-size: 8px;
    }

    #btnTres {
      font-size: 8px;
    }
    #separaEndereco {
      font-size: 16px;
    }

    #separaTexto {
      font-size: 13px;
    }

    #separaFone {
      font-size: 13px;
    }

    #tituloVolunt {
      font-size: 16px;
    }

    #textVolunt {
      font-size: 13px;
    }

    #mensagem {
      font-size: 15px;
      margin-bottom: 2%;
    }

    #name {
      margin-bottom: 10px;
      width: 140px;
      height: 20px;
    }

    #email {
      margin-bottom: 10px;
      width: 140px;
      height: 20px;
    }

    #text {
      margin-bottom: 10px;
      width: 140px;
      height: 20px;
        }
  }