* {
  font-family: 'Delius', cursive;
  font-size: 70%;
  background-color: #20b6e4;
  margin: 0%;
}

h1,
h2,
h3 {
  font-family: 'Bubblegum Sans', cursive;
  color: #2f327d;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0px;
}

#corte {
  max-width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 60px;
}

.navegador {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.li {
  margin-right: 56px;
  margin-top: 0px;
}

#btnUm {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-top: -15px;
}

#btnUm:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #6b535c;
  color: #ffffff;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.nuvens {
  height: 150px;
  width: 200px;
}

#nuvensUm {
  display: flex;
  justify-content: space-around;
}

#nuvemTres {
  margin-top: 0px;
  margin-left: 120px;
  margin-right: 60%;
}

#main {
  margin-top: 95px;
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 60px;
}

#boxDoacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
  justify-items: center;
}

.doacoes {
  font-size: 2.5rem;
}

.separacao {
  margin-bottom: 30px;
}

#mainDois {
  padding: 50px;
  font-size: 2.188rem;
  text-align: center;
  margin-bottom: 100px;
}

.container {
  position: relative;
  text-align: center;
}

#endereco {
  position: absolute;
  top: 20%;
  left: 16px;
  margin-left: 100px;
  background-color: transparent;
  text-align: start;
}

#separaEndereco {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#separaTexto {
  background-color: transparent;
  font-size: 1.563rem;
}

#separaFone {
  background-color: transparent;
  margin-top: 10px;
  font-size: 1.563rem;
}

#volunt {
  position: absolute;
  top: 20%;
  left: 500px;
  margin-left: 100px;
  background-color: transparent;
  text-align: start;
}

#tituloVolunt {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

#textVolunt {
  background-color: transparent;
  font-size: 1.563rem;
}

#btnTres {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  margin-left: 90px;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 40px;
}

#form {
  position: absolute;
  top: 20%;
  right: 16px;
  margin-right: 50px;
  background-color: transparent;
}

#mensagem {
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 2.5rem;
}

::placeholder {
  color: #000;
}

#name {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#email {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 35px;
  text-align: start;
  margin-bottom: 30px;
  font-size: 1.563rem;
  border-width: 1px;
}
#text {
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  font-size: 1.563rem;
  border-width: 1px;
}

#btnDois {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 0px rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  transition: all 300ms ease-out;
  border-width: 1.2px;
  font-size: 1.5rem;
}

#btnDois:hover {
  transform: scale(1.1);
  background-position: left bottom;
  background-color: #d6024e;
  color: #ffffff;
}

#copyright {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 0.938rem;
  margin-left: 50px;
  background-color: transparent;
}

#devs {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 0.938rem;
  margin-right: 50px;
  background-color: transparent;
  text-decoration: none;
}


/* Responsividade :D */

@media only screen and (max-width: 2560px) {

  #corte {
    margin-left: 13%;
  }

  #header {
    margin: 0 17.5% 0 0 ;
  }

  #header h1{
    margin-left: 20% ;
  }

  #nuvensUm {
    justify-content: space-between;
    padding: 0 28% 0 22.5%
  }
  
  #nuvemTres {
    margin-left: 16.5%;
    margin-right: 51%;
  }
  
  #boxDoacoes {
  margin: 2% 17% 0 18%;
  } 

  #mainDois {
  margin-top: 1.5%
  }

  .container {
    left: -5.5%;
  }
  
  #endereco {
    /* left: 6.5%; */
    left: 19%;
  }
  
  
  #volunt {
    left: 45%;
  }
  
  #form {
    right: 8.7%;
  }
  
  ::placeholder {
    color: #000;
    padding-left: 5%;
  }  
  
  #copyright {
    left: 22%;
  }
  
  #devs {
    right: 8.5%;
}
}
@media only screen and (max-width: 1920px) {

  #corte {
    margin-left: 1.5%;
  }

  #header {
    margin: 0 5% 0 0 ;
  }

  #header h1{
    margin-left: 5% ;
  }

  #nuvensUm {
    justify-content: space-between;
    padding: 0 19% 0 13.5%
  }
  
  #nuvemTres {
    margin-left: 87px;
    margin-right: 68%;
  }

  #mainDois{
    margin-top: 1.7%;
  }
  
  .container {
    left: -1.5%;
  }
  
  #endereco {
    /* left: 6.5%; */
    left: 2%;
  }
  
  
  #volunt {
    left: 35%;
  }
  
  #form {
    right: 2%;
  }
  
  ::placeholder {
    color: #000;
    padding-left: 5%;
  }  
  
  #copyright {
    left: 4%;
  }
  
  #devs {
    right: 1.5%;
}
}
@media only screen and (max-width: 1366px) {

  #corte {
    width: 97%;
  }

  #header {
    margin: 0 6% 0 0 ;
  }

  #header h1{
    margin-left: 6% ;
  }

  #nuvensUm {
    justify-content: space-between;
    padding: 0 26% 0 18%
  }
  
  #nuvemTres {
    margin-left: 6%;
    margin-right: 58.5%;
  }

  #main {
    margin: 95px 60px 60px 45px
  }

  #mainDois {
    padding-top: 7%
  }

  #boxDoacoes {
    margin: 2% 3% 0 3%;
    } 

  .container {
    left: -2.3%;
    width: 103%;
  }
  
  #endereco {
    /* left: 6.5%; */
    left: 0.5%;
  }
  
  
  #volunt {
    left: 34%;
  }
  
  #form {
    right: 1%;
  }
  
  ::placeholder {
    color: #000;
    padding-left: 5%;
  }  
  
  #copyright {
    left: 4%;
  }
  
  #devs {
    right: 1.5%;
}
}
@media only screen and (max-width: 1280px) {

  #corte {
    width: 97%;
  }

  #header {
    margin: 0 6% 0 0 ;
  }

  #header h1{
    margin-left: 6% ;
  }

  #nuvensUm {
    justify-content: space-between;
    padding: 0 29% 0 18%
  }
  
  #nuvemTres {
    margin-left: 6%;
    margin-right: 57.5%;
  }

  #main {
    margin: 95px 60px 60px 45px
  }

  #mainDois {
    padding-top: 5%
  }

  .container {
    left: -2.3%;
    width: 103%;
  }
  
  #endereco {
    /* left: 6.5%; */
    left: 0%;
  }
  
  
  #volunt {
    left: 31%;
  }
  
  #form {
    right: 1%;
  }
  
  ::placeholder {
    color: #000;
    padding-left: 5%;
  }  
  
  #copyright {
    left: 4%;
  }
  
  #devs {
    right: 2.5%;
}
}