* {
  font-family: 'Delius', cursive;
  font-size: 62.5%;
  background-color: #20b6e4;
  margin: 0%;
}

h1,
h2,
h3 {
  font-family: 'Bubblegum Sans', cursive;
  color: #2f327d;
}

h1 {
  font-size: 4rem;
  margin-top: 0px;
}

#corte {
  max-width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 60px;
}

.navegador {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
}

.li {
  margin-right: 56px;
  margin-top: 0px;
}

#btnUm {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  background: #d6024e;
  border-radius: 80px;
  box-shadow: 1px 1px 1px rgb(29, 29, 29);
  border: none;
  margin-top: -15px;
}

#nuvensUm {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#nuvemTres {
  margin-top: 54px;
  margin-left: 103px;
  margin-right: 50%;
}

#main {
  margin-top: 95px;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

#boxDoacoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
  justify-items: center;
}

.doacoes {
  font-size: 3rem;
}

.separacao {
  margin-bottom: 30px;
}

#mainDois {
  margin-top: 40px;
  font-size: 3rem;
  margin-left: 60px;
  text-align: center;
  margin-bottom: 100px;
}

.container {
  position: relative;
  text-align: center;
}

#copyright {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1.2rem;
  margin-left: 50px;
  background-color: transparent;
}

#devs {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 1.2rem;
  margin-right: 50px;
  background-color: transparent;
  text-decoration: none;
}
